In [303]:
###TASK 1
#dataset: Pizza sales
#url:https://www.kaggle.com/datasets/shilongzhuang/pizza-sales

In [3]:
import csv
import time
start = time.time()
pizza_sales = csv.reader(open('pizza_sales.csv', 'r',encoding = 'utf-8-sig'), delimiter = ',')
pizza_sales = list(pizza_sales)

In [4]:
#dateset type
type(pizza_sales)

list

In [5]:
# number of rows 
len(pizza_sales)

48621

In [6]:
#number of columns
len(pizza_sales[1])

12

In [7]:
# function
def get_column(column_index):
    column =[]
    for i in range(len(pizza_sales)):
        column.append(pizza_sales[i][column_index])
    return column

In [8]:
#function to get total_price column
get_index = pizza_sales[0].index('total_price')
total_price = get_column(get_index)

In [9]:
#function2
def pizza_price(index):
    price_list = []
    for i in total_price[1:]:
        price_list.append(float(i))
    return price_list

In [10]:
#total price of pizza ordered in the pizza restaurant(total revenue)
get_index =  pizza_sales[0].index('total_price')
print('Total Price of Pizza Sold:',round(sum(pizza_price(get_index))))

Total Price of Pizza Sold: 817860

In [21]:
#maximum total order price in the pizza restaurant
#minimum total order price in the pizza restaurant
#average total order price in the pizza restaurant
get_index =  pizza_sales[0].index('total_price')
price  = pizza_price(get_index)
    
max_tot_price = max(price)
min_tot_price = min(price)
avg_tot_price = sum(price)/len(price)

print("The maximum total order price is",max_tot_price)
print("The minimum total order price is",min_tot_price)
print("The average order price is",round(avg_tot_price,2))

The maximum total order price is 83.0
The minimum total order price is 9.75
The average order price is 16.82

In [11]:
#get the unit price column
get_index = pizza_sales[0].index('unit_price')
unit_price = get_column(get_index)

In [23]:
#total unit price of pizza ordered in the pizza restaurant
total_unit_price = []

for i in unit_price[1:]:
    total_unit_price.append(float(i))
print(round(sum(total_unit_price),2))

801944.7

In [24]:
#maximum unit price in the pizza restaurant
#minimum unit price in the pizza restaurant
#average unit price in the pizza restaurant
unit_list = []
for i in unit_price[1:]:
    unit_list.append(float(i))
max_unit_price = max(unit_list)
min_unit_price = min(unit_list)
avg_unit_price = sum(unit_list)/len(unit_list)

print("The maximum total order price is",max_unit_price)
print("The minimum total order price is",min_unit_price)
print("The average order price is",round(avg_unit_price,2))

The maximum total order price is 35.95
The minimum total order price is 9.75
The average order price is 16.49

In [12]:
#get pizza name column
get_index = pizza_sales[0].index('pizza_name')
pizza_name = get_column(get_index)

In [13]:
#pizza name and total quantity ordered
pizza_names = {}
for x in range(1,len(total_price)):
    pizza = pizza_name[x]
    if pizza in pizza_names:
        pizza_names[pizza] += 1
    else:
        pizza_names[pizza] = 1
pizza_names

{'The Hawaiian Pizza': 2370,
 'The Classic Deluxe Pizza': 2416,
 'The Five Cheese Pizza': 1359,
 'The Italian Supreme Pizza': 1849,
 'The Mexicana Pizza': 1456,
 'The Thai Chicken Pizza': 2315,
 'The Prosciutto and Arugula Pizza': 1428,
 'The Barbecue Chicken Pizza': 2372,
 'The Greek Pizza': 1406,
 'The Spinach Supreme Pizza': 940,
 'The Green Garden Pizza': 987,
 'The Italian Capocollo Pizza': 1414,
 'The Spicy Italian Pizza': 1887,
 'The Spinach Pesto Pizza': 957,
 'The Vegetables + Vegetables Pizza': 1510,
 'The Southwest Chicken Pizza': 1885,
 'The California Chicken Pizza': 2302,
 'The Pepperoni Pizza': 2369,
 'The Chicken Pesto Pizza': 961,
 'The Big Meat Pizza': 1811,
 'The Soppressata Pizza': 957,
 'The Four Cheese Pizza': 1850,
 'The Napolitana Pizza': 1451,
 'The Calabrese Pizza': 927,
 'The Italian Vegetables Pizza': 975,
 'The Mediterranean Pizza': 923,
 'The Pepper Salami Pizza': 1422,
 'The Spinach and Feta Pizza': 1432,
 'The Sicilian Pizza': 1887,
 'The Chicken Alfredo Pizza': 980,
 'The Pepperoni, Mushroom, and Peppers Pizza': 1342,
 'The Brie Carre Pizza': 480}

In [14]:
#get quantity column
get_index3 = pizza_sales[0].index('quantity')
quantity = get_column(get_index3)

In [28]:
#quantity(total order)
quantity_list = []
for i in quantity[1:]:
    quantity_list.append(int(i))
print(sum(quantity_list))

49574

In [15]:
#pizza name and total revenue generated
pizza_dict = {}

for i in range(1,len(total_price[1:])):
    pizza = pizza_name[i]
    if pizza in pizza_dict:
        pizza_dict[pizza] += float(total_price[i])
    else:
        pizza_dict[pizza] = float(total_price[i])
pizza_dict

{'The Hawaiian Pizza': 32273.25,
 'The Classic Deluxe Pizza': 38180.5,
 'The Five Cheese Pizza': 26066.5,
 'The Italian Supreme Pizza': 33476.75,
 'The Mexicana Pizza': 26780.75,
 'The Thai Chicken Pizza': 43434.25,
 'The Prosciutto and Arugula Pizza': 24193.25,
 'The Barbecue Chicken Pizza': 42755.25,
 'The Greek Pizza': 28454.100000000013,
 'The Spinach Supreme Pizza': 15277.75,
 'The Green Garden Pizza': 13955.75,
 'The Italian Capocollo Pizza': 25094.0,
 'The Spicy Italian Pizza': 34831.25,
 'The Spinach Pesto Pizza': 15596.0,
 'The Vegetables + Vegetables Pizza': 24374.75,
 'The Southwest Chicken Pizza': 34705.75,
 'The California Chicken Pizza': 41409.5,
 'The Pepperoni Pizza': 30161.75,
 'The Chicken Pesto Pizza': 16701.75,
 'The Big Meat Pizza': 22968.0,
 'The Soppressata Pizza': 16425.75,
 'The Four Cheese Pizza': 32265.70000000065,
 'The Napolitana Pizza': 24087.0,
 'The Calabrese Pizza': 15934.25,
 'The Italian Vegetables Pizza': 16019.25,
 'The Mediterranean Pizza': 15360.5,
 'The Pepper Salami Pizza': 25529.0,
 'The Spinach and Feta Pizza': 23271.25,
 'The Sicilian Pizza': 30940.5,
 'The Chicken Alfredo Pizza': 16900.25,
 'The Pepperoni, Mushroom, and Peppers Pizza': 18834.5,
 'The Brie Carre Pizza': 11588.4999999999}

In [30]:
# pizza with the higest sale
max_value = 0
max_pizza = {}

for key,value in pizza_dict.items():
    if value > max_value: 
        max_pizza = {}
        max_pizza[key] = value
        max_value = value

max_pizza

{'The Thai Chicken Pizza': 43434.25}

In [31]:
# pizza with the least sale
start_value = list(max_pizza.values())
min_pizza = {}

for key,value in pizza_dict.items():
    if value < start_value[0]: 
        min_pizza = {}
        min_pizza[key] = value
#         start_value = value

min_pizza

{'The Brie Carre Pizza': 11588.4999999999}

In [32]:
#pizza size and revenune
get_index = pizza_sales[0].index('pizza_size')
pizza_size = get_column(get_index)
pizza_size

pizza_dict = {}

for i in range(1,len(total_price[1:])):
    pizza = pizza_size[i]
    if pizza in pizza_dict:
        pizza_dict[pizza] += round(float(total_price[i]),2)
    else:
        pizza_dict[pizza] = round(float(total_price[i]),2)
pizza_dict

{'M': 249382.25,
 'L': 375318.7000000087,
 'S': 178063.74999999843,
 'XL': 14076.0,
 'XXL': 1006.6000000000005}

In [33]:
#pizza category and revenue
get_index = pizza_sales[0].index('pizza_category')
pizza_size = get_column(get_index)
pizza_size

pizza_dict = {}

for i in range(1,len(total_price[1:])):
    pizza = pizza_size[i]
    if pizza in pizza_dict:
        pizza_dict[pizza] += round(float(total_price[i]))
    else:
        pizza_dict[pizza] = round(float(total_price[i]))
pizza_dict

{'Classic': 217843, 'Veggie': 192631, 'Supreme': 206156, 'Chicken': 198663}

In [490]:
#time for code to run
duration1 = time.time() - start
duration1

1.4926648139953613

In [ ]:
#run code for task1 after size of dataset(number of rows) is artificially increased
#get the duration

In [491]:
import csv
import time
start = time.time()
pizza_sales = csv.reader(open('pizza_sales1.csv', 'r',encoding = 'utf-8-sig'), delimiter = ',')
pizza_sales = list(pizza_sales)
pizza_sales

#dateset type
type(pizza_sales)

# number of rows 
len(pizza_sales)

#number of columns
len(pizza_sales[1])

# function
def get_column(column_index):
    column =[]
    for i in range(len(pizza_sales)):
        column.append(pizza_sales[i][column_index])
    return column

#function to get total_price column
get_index = pizza_sales[0].index('total_price')
total_price = get_column(get_index)
total_price

#function2
def pizza_price(index):
    price_list = []
    for i in total_price[1:]:
        price_list.append(float(i))
    return price_list

#total price of pizza ordered in the pizza restaurant(total revenue)
get_index =  pizza_sales[0].index('total_price')
print('Total Price of Pizza Sold:',round(sum(pizza_price(get_index))))

#maximum total order price in the pizza restaurant
#minimum total order price in the pizza restaurant
#average total order price in the pizza restaurant
get_index =  pizza_sales[0].index('total_price')
price  = pizza_price(get_index)
    
max_tot_price = max(price)
min_tot_price = min(price)
avg_tot_price = sum(price)/len(price)

print("The maximum total order price is",max_tot_price)
print("The minimum total order price is",min_tot_price)
print("The average order price is",round(avg_tot_price,2))

#get the unit price column
get_index = pizza_sales[0].index('unit_price')
unit_price = get_column(get_index)
unit_price

#total unit price of pizza ordered in the pizza restaurant
total_unit_price = []

for i in unit_price[1:]:
    total_unit_price.append(float(i))
print(round(sum(total_unit_price),2))

#maximum unit price in the pizza restaurant
#minimum unit price in the pizza restaurant
#average unit price in the pizza restaurant
unit_list = []
for i in unit_price[1:]:
    unit_list.append(float(i))
max_unit_price = max(unit_list)
min_unit_price = min(unit_list)
avg_unit_price = sum(unit_list)/len(unit_list)

print("The maximum total order price is",max_unit_price)
print("The minimum total order price is",min_unit_price)
print("The average order price is",round(avg_unit_price,2))

#get pizza name column
get_index = pizza_sales[0].index('pizza_name')
pizza_name = get_column(get_index)
pizza_name

#pizza name and total quantity ordered
pizza_names = {}
for x in range(1,len(total_price)):
    pizza = pizza_name[x]
    if pizza in pizza_names:
        pizza_names[pizza] += 1
    else:
        pizza_names[pizza] = 1
pizza_names

#get quantity column
get_index3 = pizza_sales[0].index('quantity')
quantity = get_column(get_index3)
quantity

#quantity(total order)
quantity_list = []
for i in quantity[1:]:
    quantity_list.append(int(i))
print(sum(quantity_list))

#pizza name and total revenue generated
pizza_dict = {}

for i in range(1,len(total_price[1:])):
    pizza = pizza_name[i]
    if pizza in pizza_dict:
        pizza_dict[pizza] += float(total_price[i])
    else:
        pizza_dict[pizza] = float(total_price[i])
pizza_dict

# pizza with the higest sale
max_value = 0
max_pizza = {}

for key,value in pizza_dict.items():
    if value > max_value: 
        max_pizza = {}
        max_pizza[key] = value
        max_value = value

max_pizza

# pizza with the least sale
start_value = list(max_pizza.values())
min_pizza = {}

for key,value in pizza_dict.items():
    if value < start_value[0]: 
        min_pizza = {}
        min_pizza[key] = value
#         start_value = value

min_pizza

#pizza size and revenune
get_index = pizza_sales[0].index('pizza_size')
pizza_size = get_column(get_index)
pizza_size

pizza_dict = {}

for i in range(1,len(total_price[1:])):
    pizza = pizza_size[i]
    if pizza in pizza_dict:
        pizza_dict[pizza] += round(float(total_price[i]),2)
    else:
        pizza_dict[pizza] = round(float(total_price[i]),2)
pizza_dict

#pizza category and revenue
get_index = pizza_sales[0].index('pizza_category')
pizza_size = get_column(get_index)
pizza_size

pizza_dict = {}

for i in range(1,len(total_price[1:])):
    pizza = pizza_size[i]
    if pizza in pizza_dict:
        pizza_dict[pizza] += round(float(total_price[i]))
    else:
        pizza_dict[pizza] = round(float(total_price[i]))
pizza_dict

#time for code to run
duration2 = time.time() - start
duration2

Total Price of Pizza Sold: 1144832
The maximum total order price is 83.0
The minimum total order price is 9.75
The average order price is 16.81
1122627.05
The maximum total order price is 35.95
The minimum total order price is 9.75
The average order price is 16.49
69432

2.189275026321411

### task 2

In [34]:
import time
start = time.time()
import pandas as pd
pizza_sales = pd.read_csv('pizza_sales.csv')

In [35]:
pizza_sales.head()

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,01/01/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,01/01/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,01/01/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,01/01/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,01/01/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [36]:
pizza_sales.describe()

,order_details_id,order_id,quantity,unit_price,total_price
count,48620.000000,48620.000000,48620.000000,48620.000000,48620.000000
mean,24310.500000,10701.479761,1.019622,16.494132,16.821474
std,14035.529381,6180.119770,0.143077,3.621789,4.437398
min,1.000000,1.000000,1.000000,9.750000,9.750000
25%,12155.750000,5337.000000,1.000000,12.750000,12.750000
50%,24310.500000,10682.500000,1.000000,16.500000,16.500000
75%,36465.250000,16100.000000,1.000000,20.250000,20.500000
max,48620.000000,21350.000000,4.000000,35.950000,83.000000

In [37]:
#dateset type
type(pizza_sales)

pandas.core.frame.DataFrame

In [38]:
#number of rows 
len(pizza_sales)

48620

In [39]:
#number of columns
len(pizza_sales.columns)

12

In [40]:
#get total price column
total_price = pizza_sales['total_price']
total_price

0        13.25
1        16.00
2        18.50
3        20.75
4        16.00
         ...
48615    16.75
48616    17.95
48617    12.00
48618    20.25
48619    12.75
Name: total_price, Length: 48620, dtype: float64

In [41]:
#total price of pizza ordered in the pizza restaurant(total revenue)
sum(total_price)

817860.049999993

In [42]:
#maximum total order price in the pizza restaurant
#minimum total order price in the pizza restaurant
#average total order price in the pizza restaurant
print ('The maximum total price is', max(total_price))
print ('The minumum total price is', min(total_price))
print ('The average total price is', sum(total_price)/len(total_price))

The maximum total price is 83.0
The minumum total price is 9.75
The average total price is 16.82147367338529

In [43]:
#get unit price column
unit_price = pizza_sales['unit_price']
unit_price

0        13.25
1        16.00
2        18.50
3        20.75
4        16.00
         ...
48615    16.75
48616    17.95
48617    12.00
48618    20.25
48619    12.75
Name: unit_price, Length: 48620, dtype: float64

In [44]:
#unit of pizza ordered in the pizza restaurant
sum(unit_price)

801944.6999999925

In [45]:
#maximum unit price in the pizza restaurant
#minimum unit price in the pizza restaurant
#average unit price in the pizza restaurant
print ('The maximum unit price is', max(unit_price))
print ('The minumum unit price is', min(unit_price))
print ('The average unit price is', sum(unit_price)/len(unit_price))

The maximum unit price is 35.95
The minumum unit price is 9.75
The average unit price is 16.494132044426006

In [46]:
#get pizza name column
pizza_name = pizza_sales['pizza_name']
pizza_name

0                The Hawaiian Pizza
1          The Classic Deluxe Pizza
2             The Five Cheese Pizza
3         The Italian Supreme Pizza
4                The Mexicana Pizza
                    ...
48615     The Chicken Alfredo Pizza
48616         The Four Cheese Pizza
48617          The Napolitana Pizza
48618            The Mexicana Pizza
48619    The Barbecue Chicken Pizza
Name: pizza_name, Length: 48620, dtype: object

In [47]:
#pizza name and total quantity ordered
pizza_count = pizza_sales['pizza_name'].value_counts()
pizza_count

The Classic Deluxe Pizza                      2416
The Barbecue Chicken Pizza                    2372
The Hawaiian Pizza                            2370
The Pepperoni Pizza                           2369
The Thai Chicken Pizza                        2315
The California Chicken Pizza                  2302
The Sicilian Pizza                            1887
The Spicy Italian Pizza                       1887
The Southwest Chicken Pizza                   1885
The Four Cheese Pizza                         1850
The Italian Supreme Pizza                     1849
The Big Meat Pizza                            1811
The Vegetables + Vegetables Pizza             1510
The Mexicana Pizza                            1456
The Napolitana Pizza                          1451
The Spinach and Feta Pizza                    1432
The Prosciutto and Arugula Pizza              1428
The Pepper Salami Pizza                       1422
The Italian Capocollo Pizza                   1414
The Greek Pizza                               1406
The Five Cheese Pizza                         1359
The Pepperoni, Mushroom, and Peppers Pizza    1342
The Green Garden Pizza                         987
The Chicken Alfredo Pizza                      980
The Italian Vegetables Pizza                   975
The Chicken Pesto Pizza                        961
The Spinach Pesto Pizza                        957
The Soppressata Pizza                          957
The Spinach Supreme Pizza                      940
The Calabrese Pizza                            927
The Mediterranean Pizza                        923
The Brie Carre Pizza                           480
Name: pizza_name, dtype: int64

In [48]:
#get pizza quantity column
pizza_quantity = pizza_sales['quantity']
pizza_quantity

0        1
1        1
2        1
3        1
4        1
        ..
48615    1
48616    1
48617    1
48618    1
48619    1
Name: quantity, Length: 48620, dtype: int64

In [49]:
#quantity(total order)
sum(pizza_quantity)

49574

In [50]:
#pizza name and total revenue generated
pizza_sales[['pizza_name','total_price']].groupby('pizza_name').sum()

                                            total_price
pizza_name
The Barbecue Chicken Pizza                     42768.00
The Big Meat Pizza                             22968.00
The Brie Carre Pizza                           11588.50
The Calabrese Pizza                            15934.25
The California Chicken Pizza                   41409.50
The Chicken Alfredo Pizza                      16900.25
The Chicken Pesto Pizza                        16701.75
The Classic Deluxe Pizza                       38180.50
The Five Cheese Pizza                          26066.50
The Four Cheese Pizza                          32265.70
The Greek Pizza                                28454.10
The Green Garden Pizza                         13955.75
The Hawaiian Pizza                             32273.25
The Italian Capocollo Pizza                    25094.00
The Italian Supreme Pizza                      33476.75
The Italian Vegetables Pizza                   16019.25
The Mediterranean Pizza                        15360.50
The Mexicana Pizza                             26780.75
The Napolitana Pizza                           24087.00
The Pepper Salami Pizza                        25529.00
The Pepperoni Pizza                            30161.75
The Pepperoni, Mushroom, and Peppers Pizza     18834.50
The Prosciutto and Arugula Pizza               24193.25
The Sicilian Pizza                             30940.50
The Soppressata Pizza                          16425.75
The Southwest Chicken Pizza                    34705.75
The Spicy Italian Pizza                        34831.25
The Spinach Pesto Pizza                        15596.00
The Spinach Supreme Pizza                      15277.75
The Spinach and Feta Pizza                     23271.25
The Thai Chicken Pizza                         43434.25
The Vegetables + Vegetables Pizza              24374.75

In [51]:
# pizza with the higest sale
pizza_sales[['pizza_name', 'total_price']].groupby('pizza_name').sum().max()

total_price    43434.25
dtype: float64

In [52]:
# pizza with the least sale
pizza_sales[['pizza_name', 'total_price']].groupby('pizza_name').sum().min()

total_price    11588.5
dtype: float64

In [53]:
#pizza size and revenune
pizza_sales.groupby('pizza_size')['total_price'].sum()

pizza_size
L      375318.70
M      249382.25
S      178076.50
XL      14076.00
XXL      1006.60
Name: total_price, dtype: float64

In [54]:
#pizza category and revenune
pizza_sales.groupby('pizza_category')['total_price'].sum()

pizza_category
Chicken    195919.50
Classic    220053.10
Supreme    208197.00
Veggie     193690.45
Name: total_price, dtype: float64

In [535]:
#time for code to run
duration1 = time.time() - start
duration1

0.5958280563354492

In [ ]:
#run code for task2 after size of dataset(number of rows) is artificially increased
#get the duration

In [55]:
import time
start = time.time()
import pandas as pd
pizza_sales = pd.read_csv('pizza_sales1.csv')

In [56]:
pizza_sales.head()

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,01/01/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,01/01/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,01/01/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,01/01/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,01/01/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [57]:
pizza_sales.describe()

,order_details_id,order_id,quantity,unit_price,total_price
count,68098.000000,68098.000000,68098.000000,68098.000000,68098.000000
mean,34049.500000,12539.616978,1.019589,16.485463,16.811533
std,19658.343653,6116.166297,0.143172,3.620992,4.435175
min,1.000000,1.000000,1.000000,9.750000,9.750000
25%,17025.250000,7490.250000,1.000000,12.750000,12.750000
50%,34049.500000,13950.000000,1.000000,16.500000,16.500000
75%,51073.750000,17675.000000,1.000000,20.250000,20.500000
max,68098.000000,21350.000000,4.000000,35.950000,83.000000

In [58]:
#dateset type
type(pizza_sales)

pandas.core.frame.DataFrame

In [59]:
#number of rows 
len(pizza_sales)

68098

In [60]:
#number of columns
len(pizza_sales.columns)

12

In [61]:
#get total price column
total_price = pizza_sales['total_price']
total_price

0        13.25
1        16.00
2        18.50
3        20.75
4        16.00
         ...
68093    16.75
68094    17.95
68095    12.00
68096    20.25
68097    12.75
Name: total_price, Length: 68098, dtype: float64

In [62]:
#total price of pizza ordered in the pizza restaurant(total revenue)
sum(total_price)

1144831.7499999674

In [63]:
#maximum total order price in the pizza restaurant
#minimum total order price in the pizza restaurant
#average total order price in the pizza restaurant
print ('The maximum total price is', max(total_price))
print ('The minumum total price is', min(total_price))
print ('The average total price is', sum(total_price)/len(total_price))

The maximum total price is 83.0
The minumum total price is 9.75
The average total price is 16.81153264413004

In [64]:
#get unit price column
unit_price = pizza_sales['unit_price']
unit_price

0        13.25
1        16.00
2        18.50
3        20.75
4        16.00
         ...
68093    16.75
68094    17.95
68095    12.00
68096    20.25
68097    12.75
Name: unit_price, Length: 68098, dtype: float64

In [65]:
#unit of pizza ordered in the pizza restaurant
sum(unit_price)

1122627.0499999684

In [66]:
#maximum unit price in the pizza restaurant
#minimum unit price in the pizza restaurant
#average unit price in the pizza restaurant
print ('The maximum unit price is', max(unit_price))
print ('The minumum unit price is', min(unit_price))
print ('The average unit price is', sum(unit_price)/len(unit_price))

The maximum unit price is 35.95
The minumum unit price is 9.75
The average unit price is 16.485462862344978

In [67]:
#get pizza name column
pizza_name = pizza_sales['pizza_name']
pizza_name

0                The Hawaiian Pizza
1          The Classic Deluxe Pizza
2             The Five Cheese Pizza
3         The Italian Supreme Pizza
4                The Mexicana Pizza
                    ...
68093     The Chicken Alfredo Pizza
68094         The Four Cheese Pizza
68095          The Napolitana Pizza
68096            The Mexicana Pizza
68097    The Barbecue Chicken Pizza
Name: pizza_name, Length: 68098, dtype: object

In [68]:
#pizza name and total quantity ordered
pizza_count = pizza_sales['pizza_name'].value_counts()
pizza_count

The Classic Deluxe Pizza                      3413
The Hawaiian Pizza                            3356
The Pepperoni Pizza                           3321
The Barbecue Chicken Pizza                    3274
The Thai Chicken Pizza                        3273
The California Chicken Pizza                  3240
The Sicilian Pizza                            2669
The Southwest Chicken Pizza                   2664
The Spicy Italian Pizza                       2626
The Four Cheese Pizza                         2587
The Italian Supreme Pizza                     2584
The Big Meat Pizza                            2536
The Vegetables + Vegetables Pizza             2091
The Mexicana Pizza                            2045
The Napolitana Pizza                          2043
The Prosciutto and Arugula Pizza              2010
The Pepper Salami Pizza                       1994
The Spinach and Feta Pizza                    1994
The Greek Pizza                               1964
The Italian Capocollo Pizza                   1960
The Pepperoni, Mushroom, and Peppers Pizza    1873
The Five Cheese Pizza                         1865
The Chicken Alfredo Pizza                     1384
The Green Garden Pizza                        1362
The Italian Vegetables Pizza                  1357
The Spinach Pesto Pizza                       1352
The Chicken Pesto Pizza                       1349
The Soppressata Pizza                         1329
The Spinach Supreme Pizza                     1307
The Mediterranean Pizza                       1305
The Calabrese Pizza                           1297
The Brie Carre Pizza                           674
Name: pizza_name, dtype: int64

In [69]:
#get pizza quantity column
pizza_quantity = pizza_sales['quantity']
pizza_quantity

0        1
1        1
2        1
3        1
4        1
        ..
68093    1
68094    1
68095    1
68096    1
68097    1
Name: quantity, Length: 68098, dtype: int64

In [70]:
#quantity(total order)
sum(pizza_quantity)

69432

In [71]:
#pizza name and total revenue generated
pizza_sales[['pizza_name','total_price']].groupby('pizza_name').sum()

                                            total_price
pizza_name
The Barbecue Chicken Pizza                     59096.00
The Big Meat Pizza                             32232.00
The Brie Carre Pizza                           16247.55
The Calabrese Pizza                            22323.75
The California Chicken Pizza                   58271.50
The Chicken Alfredo Pizza                      23898.25
The Chicken Pesto Pizza                        23431.75
The Classic Deluxe Pizza                       53971.50
The Five Cheese Pizza                          35779.00
The Four Cheese Pizza                          45129.40
The Greek Pizza                                39621.55
The Green Garden Pizza                         19203.75
The Hawaiian Pizza                             45687.50
The Italian Capocollo Pizza                    34873.50
The Italian Supreme Pizza                      46908.50
The Italian Vegetables Pizza                   22290.50
The Mediterranean Pizza                        21726.75
The Mexicana Pizza                             37503.50
The Napolitana Pizza                           33954.00
The Pepper Salami Pizza                        35592.00
The Pepperoni Pizza                            42336.00
The Pepperoni, Mushroom, and Peppers Pizza     26277.00
The Prosciutto and Arugula Pizza               34145.00
The Sicilian Pizza                             43736.00
The Soppressata Pizza                          22699.50
The Southwest Chicken Pizza                    49041.25
The Spicy Italian Pizza                        48257.00
The Spinach Pesto Pizza                        21882.50
The Spinach Supreme Pizza                      21123.25
The Spinach and Feta Pizza                     32455.00
The Thai Chicken Pizza                         61372.50
The Vegetables + Vegetables Pizza              33764.50

In [72]:
# pizza with the higest sale
pizza_sales[['pizza_name', 'total_price']].groupby('pizza_name').sum().max()

total_price    61372.5
dtype: float64

In [73]:
# pizza with the least sale
pizza_sales[['pizza_name', 'total_price']].groupby('pizza_name').sum().min()

total_price    16247.55
dtype: float64

In [74]:
#pizza size and revenune
pizza_sales.groupby('pizza_size')['total_price'].sum()

pizza_size
L      524704.90
M      349206.75
S      250214.55
XL      19303.50
XXL      1402.05
Name: total_price, dtype: float64

In [75]:
#pizza category and revenune
pizza_sales.groupby('pizza_category')['total_price'].sum()

pizza_category
Chicken    275111.25
Classic    308953.05
Supreme    291032.55
Veggie     269734.90
Name: total_price, dtype: float64

In [557]:
#time for code to run
duration1 = time.time() - start
duration1

0.6918048858642578